/* Buttons [Start] */
.btn, .slds-button{color:$button-font-color; font-family: $button-font-family; font-size: $button-font-size;  padding: $button-padding; border: 0; border-radius: $button-border-radius; line-height: $button-line-height; font-weight: $button-font-weight; 

  &[kx-type="ripple"]{
    &:before, &:after{
      display: none;
    }
  }

  &.btn-disabled, &:disabled{
    &, &:hover, &:active, &.active{
    background: $button-disabled-bg; color: $button-disabled-font-color; pointer-events: none;
    }
  }
  
  //primary
  &.btn-primary, &.slds-button_brand{
    background: $button-primary-bg; color: $button-primary-font-color;

    // hover / active
    &:hover, &:active, &.active{
      background: $button-primary-bg-hover;
      color: $button-primary-font-color-hover;
    }

    &:disabled{
      background: $primary; color: inherit; opacity: 0.5;
    }
  }
  //secondary
  &.btn-secondary, &.slds-button_neutral{
    background: $button-secondary-bg; color: $button-secondary-font-color;

    &:hover, &:active, &.active{
      background: $button-secondary-bg-hover; color: $button-secondary-font-color-hover;
    }
  }

  // outlined
  &.btn-outlined-primary, &.slds-button_outline-brand{
    background: $button-outline-primary-bg; color: $button-outline-primary-font-color; border: toRem(1) $button-outline-primary-border solid;

    &:hover, &:active, &.active{
      background: $button-outline-primary-bg-hover; color: $button-secondary-font-color-hover;
    }
  }

  // destructive
  &.btn-danger, &.slds-button_destructive{
    background: $button-destructive-bg; color: $button-destructive-font-color;

    &:hover, &:active, &.active{
      background: $button-destructive-bg-hover; color: $button-destructive-font-color-hover;
    }
  }

  // success
  &.btn-success, &.slds-button_success{
    background: $button-success-bg; color: $button-success-font-color;

    &:hover, &:active, &.active{
      background: $button-success-bg-hover; color: $button-success-font-color-hover;
    }
  }

    // inverse
    &.btn-inverse, &.slds-button_inverse{
      background: $button-inverse-bg; color: $button-inverse-font-color;

      &:hover, &:active, &.active{
        background: $button-inverse-bg-hover; color: $button-inverse-font-color-hover;
      }
    }


  // button-text
  &.btn-text{
    background: none; border: none; box-shadow: none;
  }
}

.btn-icon{background: none; border: none; box-shadow: none;}


// slds button group
.slds-button-group{
  .slds-button{border-radius: unset;
    &:first-of-type{border-top-left-radius: toRem(8); border-bottom-left-radius: toRem(8);}
    &:last-of-type{border-top-right-radius: toRem(8); border-bottom-right-radius: toRem(8);}
  }
}
/* Buttons [END] */


/* Sales force button */
// .dealDashWrapper{
//   lightning-button .slds-button_neutral {
//     @include custom-brand-button(#f3f3f3, #e0e0e0, #cccccc);
//     color: #000;
//   }

//   /* Brand button */
//   lightning-button .slds-button_brand {
//     @include custom-brand-button($button-primary-bg, $button-primary-bg-hover, $button-primary-focus);
//     color: $button-primary-font-color;

//     &:disabled{
//       background: $primary !important; color: inherit !important; opacity: 0.5;
//     }

//     // hover / active
//     &:hover, &:active, &.active{
//       background: $button-primary-bg-hover !important;
//       color:$button-primary-font-color-hover;
//     }
//   }

//   /* Brand-outline button */
//   lightning-button .slds-button_brand-outline {
//     @include custom-brand-button($button-outline-primary-bg-hover, $button-outline-primary-bg-hover, $button-outline-primary-focus);
//     color: $button-outline-primary-font-color;
//   }

//   /* Destructive button */
//   lightning-button .slds-button_destructive {
//     @include custom-brand-button(#c23934, #a61d1a, #ff9999);
//     color: #fff;
//   }

//   /* Destructive-text button */
//   lightning-button .slds-button_destructive-text {
//     @include custom-brand-button(transparent, #ffe5e5, #ff9999);
//     color: #c23934;
//   }

//   /* Inverse button */
//   lightning-button .slds-button_inverse {
//     @include custom-brand-button(#ffffff, #f0f0f0, #cccccc);
//     color: #005fb2;
//   }

//   /* Success button */
//   lightning-button .slds-button_success {
//     @include custom-brand-button(#2e844a, #27663f, #99cc99);
//     color: #fff;
//   }
// }



.status-button {
    border: none;
    border-radius: 12px;  
    display: inline-flex;
    align-items: center;
    padding: toRem(12) toRem(20);
    gap: 0.35rem;
    cursor: default;

    svg {
        width: toRem(17);
        height: toRem(17);
        fill: $secondary;
    }
}

.convert-button {
  width: 100%;
  max-width: toRem(320);
  border-radius: toRem(25);
}
