.customCard{
    .slds-card{@extend .brd-4; @extend .p-24px;
        .slds-card__header{
            color:#1A1818; @extend .pb-16px; border-bottom: 1px #E3E6E3 solid;
        }
        .slds-card__body{margin-bottom: 0;}
    }
}