// regular
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('./../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// italic
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Italic'), local('SFProDisplay-RegularItalic'),
    url('./../fonts/SFProDisplay-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// bold
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('./../fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// bold italic
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
    url('./../fonts/SFProDisplay-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// light
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('./../fonts/SFProDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// light italic
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
    url('./../fonts/SFProDisplay-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// medium
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('./../fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// medium italic
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
    url('./../fonts/SFProDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// semi bold
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('./../fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// semi bold italic
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
    url('./../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}