// help tooltip
.customInfo{
  lightning-helptext{
    .slds-button{
        background: none;
        width: 16px;
        height: 16px;
        border: none;
        padding: 0;
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
  }

  &.primaryTooltip{
    lightning-helptext{
      .slds-button{
        @extend .filter-primary-100;
      }
    }
  }

  // outline help icon
  &.outlineHelpIcon{
    lightning-helptext{
      .slds-button{
        @extend .amr-icon;
        @extend .icon-icoCircleInfo;
        &:before{
          background: $white;
          opacity: 0.55;
        }
      }
      lightning-primitive-icon{display: none;}
    }
  }
}
