// Icon [Start]
$icoStatusApplication: url("./../images/ico-statusApplication.svg");
$icoStarFile: url("./../images/ico-starFile.svg");
$icoSignedContract: url("./../images/ico-signed-contract.svg");
$icoSideArrowUp: url("./../images/ico-side-arrow-up.svg");
$icoShieldCheck: url("./../images/ico-shieldCheck.svg");
$icoSFArrowdown: url("./../images/ico-sf-arrowdown.svg");
$icoSettingsList: url("./../images/ico-settingsList.svg");
$icoSearchBox: url("./../images/ico-searchBox.svg");
$icoSearch: url("./../images/ico-search.svg");
$icoSealQuestion: url("./../images/ico-sealQuestion.svg");
$icoRightUp: url("./../images/ico-right-up.svg");
$icoRegisterBook: url("./../images/ico-register-book.svg");
$icoReceiptVerification: url("./../images/ico-receipt-verification.svg");
$icoPlus: url("./../images/ico-plus.svg");
$icoPlanBrochure: url("./../images/ico-planBrochure.svg");
$icoFilePicture: url("./../images/ico-picture.svg");
$icoPhone: url("./../images/ico-phone.svg");
$icoFilePDF: url("./../images/ico-pdf.svg");
$icoPaperClip: url("./../images/ico-paperclip.svg");
$icoOther: url("./../images/ico-other.svg");
$icoOnlineBusiness: url("./../images/ico-onlineBusiness.svg");
$icoOctagonAlert: url("./../images/ico-octagon-alert.svg");
$icoNotesStar: url("./../images/ico-notesStar.svg");
$icoNotes: url("./../images/ico-notes.svg");
$icoMultiFiles: url("./../images/ico-multifiles.svg");
$icoMoney: url("./../images/ico-money.svg");
$icoClose: url("./../images/ico-menu-close.svg");
$icoMenuBars: url("./../images/ico-menu-bars.svg");
$icoMapPin: url("./../images/ico-mapPin.svg");
$icoMail: url("./../images/ico-mail.svg");
$icoMagnifyingGlassPlus: url("./../images/ico-magnifying-glass-plus.svg");
$icolink: url("./../images/ico-linkSimple.svg");
$icoLink2: url("./../images/ico-link.svg");
$icoLead: url("./../images/ico-lead.svg");
$icoLastActivitiy: url("./../images/ico-lastActivitiy.svg");
$icoKey: url("./../images/ico-key.svg");
$icoIndustry: url("./../images/ico-industry.svg");
$icoIDCard: url("./../images/ico-IDcard.svg");
$icoHome: url("./../images/ico-home.svg");
$icoHistory: url("./../images/ico-history.svg");
$icoHeadset: url("./../images/ico-headset.svg");
$icoHammer: url("./../images/ico-hammer.svg");
$icoGear: url("./../images/ico-gear.svg");
$icoFirstAid: url("./../images/ico-firstAid.svg");
$icoFilterBars: url("./../images/ico-filterBars.svg");
$icoFilter: url("./../images/ico-filter.svg");
$icoFileText: url("./../images/ico-file-text.svg");
$icoFileSearch: url("./../images/ico-file-search.svg");
$icoFilePlus: url("./../images/ico-file-plus.svg");
$icoFileLock: url("./../images/ico-fileLock.svg");
$icoFileDashed: url("./../images/ico-fileDashed.svg");
$icoFile: url("./../images/ico-file.svg");
$icoEyeSlash: url("./../images/ico-eye-slash.svg");
$icoEye: url("./../images/ico-eye.svg");
$icoEditFile: url("./../images/ico-editFile.svg");
$icoEdit: url("./../images/ico-edit.svg");
$icoDownload: url("./../images/ico-download.svg");
$icoDollarFile: url("./../images/ico-dollarFile.svg");
$icoDollar: url("./../images/ico-dollar.svg");
$icoDocList: url("./../images/ico-docList.svg");
$icoDialog: url("./../images/ico-dialog.svg");
$icoDealAll: url("./../images/ico-deals-all.svg");
$icoDeals: url("./../images/ico-deals.svg");
$icoDealDetails: url("./../images/ico-dealDetails.svg");
$icoDashboard: url("./../images/ico-dashboard.svg");
$icoCrown: url("./../images/ico-crown.svg");
$icoCreditCard2: url("./../images/ico-credit-card.svg");
$icoCreditCard: url("./../images/ico-creditCard.svg");
$icoCoobligor: url("./../images/ico-coobligor.svg");
$icoClipboardCheck: url("./../images/ico-clipboardCheck.svg");
$icoClipboard: url("./../images/ico-clipboard.svg");
$icoClear: url("./../images/ico-clear.svg");
$icoTimes: url("./../images/ico-times.svg");
$icoCircleTimes: url("./../images/ico-circle-times.svg");
$icoCirclePlus: url("./../images/ico-circlePlus.svg");
$icoCircleInfo: url("./../images/ico-circle-info.svg");
$icoCircleHelp: url("./../images/ico-circle-help.svg");
$icoCircleCheck: url("./../images/ico-circle-check.svg");
$icoCircleArrowRight: url("./../images/ico-circle-arrow-right.svg");
$icoChevronRight: url("./../images/ico-chevron-right.svg");
$icoChevronLeft: url("./../images/ico-chevron-left.svg");
$icoChevronDown: url("./../images/ico-chevron-down.svg");
$icoCheckSquareOffset: url("./../images/ico-check-square-offset.svg");
$icoCheck: url("./../images/ico-check.svg");
$icoChat: url("./../images/ico-chat.svg");
$icoCaretRight: url("./../images/ico-caretRight.svg");
$icoCaretDown: url("./../images/ico-caretDown.svg");
$icoBriefcase: url("./../images/ico-briefcase.svg");
$icoBox: url("./../images/ico-box.svg");
$icoAdditional: url("./../images/ico-additional.svg");
$icoBarGraph: url("./../images/ico-barGraph.svg");
$icoAccountInfo: url("./../images/ico-accountInfo.svg");
$icoBank: url("./../images/ico-bank.svg");
$icoWarning: url("./../images/ico-warning.svg");
$icoAwardCheck: url("./../images/ico-awardCheck.svg");
$icoVendorReview: url("./../images/ico-vendor-review.svg");
$icoArrowSquareOut: url("./../images/ico-arrow-square-out.svg");
$icoUserShieldCheck: url("./../images/ico-userShieldCheck.svg");
$icoArrowRotate: url("./../images/ico-arrow-rotate.svg");
$icoUserCheck: url("./../images/ico-userCheck.svg");
$icoArrowRight: url("./../images/ico-arrow-right.svg");
$icoTransaction: url("./../images/ico-transaction.svg");
$iconFile: url("./../images/ico-file.svg");
$icoThread: url("./../images/ico-thread.svg");
$icoTractor: url("./../images/ico-tractor.svg");

$icons: (
  'icoStatusApplication' : $icoStatusApplication,
  'icoStarFile' : $icoStarFile,
  'icoSignedContract' : $icoSignedContract,
  'icoSideArrowUp' : $icoSideArrowUp,
  'icoShieldCheck' : $icoShieldCheck,
  'icoSFArrowdown' : $icoSFArrowdown,
  'icoSettingsList' : $icoSettingsList,
  'icoSearchBox' : $icoSearchBox,
  'icoSearch' : $icoSearch,
  'icoSealQuestion' : $icoSealQuestion,
  'icoRightUp' : $icoRightUp,
  'icoRegisterBook' : $icoRegisterBook,
  'icoReceiptVerification' : $icoReceiptVerification,
  'icoPlus' : $icoPlus,
  'icoPlanBrochure' : $icoPlanBrochure,
  'icoFilePicture' : $icoFilePicture,
  'icoPhone' : $icoPhone,
  'icoFilePDF' : $icoFilePDF,
  'icoPaperClip' : $icoPaperClip,
  'icoOther' : $icoOther,
  'icoOnlineBusiness' : $icoOnlineBusiness,
  'icoOctagonAlert' : $icoOctagonAlert,
  'icoNotesStar' : $icoNotesStar,
  'icoNotes' : $icoNotes,
  'icoMultiFiles' : $icoMultiFiles,
  'icoMoney' : $icoMoney,
  'icoClose' : $icoClose,
  'icoMenuBars' : $icoMenuBars,
  'icoMapPin' : $icoMapPin,
  'icoMail' : $icoMail,
  'icoMagnifyingGlassPlus' : $icoMagnifyingGlassPlus,
  'icolink' : $icolink,
  'icoLink2' : $icoLink2,
  'icoLead' : $icoLead,
  'icoLastActivitiy' : $icoLastActivitiy,
  'icoKey' : $icoKey,
  'icoIndustry' : $icoIndustry,
  'icoIDCard' : $icoIDCard,
  'icoHome' : $icoHome,
  'icoHistory' : $icoHistory,
  'icoHeadset' : $icoHeadset,
  'icoHammer' : $icoHammer,
  'icoGear' : $icoGear,
  'icoFirstAid' : $icoFirstAid,
  'icoFilterBars' : $icoFilterBars,
  'icoFilter' : $icoFilter,
  'icoFileText' : $icoFileText,
  'icoFileSearch' : $icoFileSearch,
  'icoFilePlus' : $icoFilePlus,
  'icoFileLock' : $icoFileLock,
  'icoFileDashed' : $icoFileDashed,
  'icoFile' : $icoFile,
  'icoEyeSlash' : $icoEyeSlash,
  'icoEye' : $icoEye,
  'icoEditFile' : $icoEditFile,
  'icoEdit' : $icoEdit,
  'icoDownload' : $icoDownload,
  'icoDollarFile' : $icoDollarFile,
  'icoDollar' : $icoDollar,
  'icoDocList' : $icoDocList,
  'icoDialog' : $icoDialog,
  'icoDealAll' : $icoDealAll,
  'icoDeals' : $icoDeals,
  'icoDealDetails' : $icoDealDetails,
  'icoDashboard' : $icoDashboard,
  'icoCrown' : $icoCrown,
  'icoCreditCard2' : $icoCreditCard2,
  'icoCreditCard' : $icoCreditCard,
  'icoCoobligor' : $icoCoobligor,
  'icoClipboardCheck' : $icoClipboardCheck,
  'icoClipboard' : $icoClipboard,
  'icoClear' : $icoClear,
  'icoTimes': $icoTimes,
  'icoCircleTimes' : $icoCircleTimes,
  'icoCirclePlus' : $icoCirclePlus,
  'icoCircleInfo' : $icoCircleInfo,
  'icoCircleHelp' : $icoCircleHelp,
  'icoCircleCheck' : $icoCircleCheck,
  'icoCircleArrowRight' : $icoCircleArrowRight,
  'icoChevronRight' : $icoChevronRight,
  'icoChevronLeft' : $icoChevronLeft,
  'icoChevronDown' : $icoChevronDown,
  'icoCheckSquareOffset' : $icoCheckSquareOffset,
  'icoCheck' : $icoCheck,
  'icoChat' : $icoChat,
  'icoCaretRight' : $icoCaretRight,
  'icoCaretDown' : $icoCaretDown,
  'icoBriefcase' : $icoBriefcase,
  'icoBox' : $icoBox,
  'icoAdditional' : $icoAdditional,
  'icoBarGraph' : $icoBarGraph,
  'icoAccountInfo' : $icoAccountInfo,
  'icoBank' : $icoBank,
  'icoWarning' : $icoWarning,
  'icoAwardCheck' : $icoAwardCheck,
  'icoVendorReview' : $icoVendorReview,
  'icoArrowSquareOut' : $icoArrowSquareOut,
  'icoUserShieldCheck' : $icoUserShieldCheck,
  'icoArrowRotate' : $icoArrowRotate,
  'icoUserCheck' : $icoUserCheck,
  'icoArrowRight' : $icoArrowRight,
  'icoTransaction': $icoTransaction,
  'iconFile' : $iconFile,
  'icoThread' : $icoThread,
  'icoTractor' : $icoTractor
);
